---
layout: default
---
<div class="archive">

  <header class="archive-header">
    <h1 class="page-title">{{ page.title | escape }}</h1>
	<div class = "post-meta">
	 Dates:
	 <script type="text/javascript">	var count = 0; </script>
	 {% for post in site.posts %}
	 {% capture y  %}{{post.date | date:"%Y"}}{% endcapture %}
	  {% if year != y %}
	   {% if year %}
	    &nbsp <a href="#{{year}}">{{ year }} <script type="text/javascript"> document.write("("+count+")"); </script></a>
	   {% endif %}
	   {% assign year = y %}
	   <script type="text/javascript"> count = 1; </script>
	  {% else %}
	   <script type="text/javascript"> count++; </script>
	  {% endif %}
	 {% endfor %}
     {% if year %}
	  &nbsp <a href="#{{year}}">{{ year }} <script type="text/javascript"> document.write("("+count+")"); </script></a>
	 {% endif %}
	 <p align="right"><a href="/archive_category"> Sort by Category </a></p>
	</div>
  </header>
   
  {{ content }}
  
   {% assign year = 0 %}
   {% for post in site.posts %}
    {% capture y  %}{{post.date | date:"%Y"}}{% endcapture %}
	{% if year != y %}
	 {% if year != 0 %}
	  </ul>
	 {% endif %}
	 {% assign year = y %}
	 <div class = "post-meta" align="right" id={{ y }}>
      {{ y }}
      <hr style="height:1px;border:none;border-top:1px dashed #0066CC;" />
     </div>
     <ul class="post-list">
    {% endif %}

	<li>
	 <span class="post-meta">
	 {{ post.date | date: "%b %-d, %Y" }}
	 {% if post.categories != empty %}
	  •  {{ post.categories }}
	 {% endif %}
	 </span>
     <h2> <a class="post-link" href="{{ post.url | relative_url }}"> {{ post.title | escape }} {% if post.subtitle %} <br> {{ post.subtitle }} {% endif %} </a> </h2>
    </li>

   {% endfor %}
  </ul>

</div>
