---
layout: default
---
<div class="archive">

  <header class="archive-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
	<p align="right"><a href="/archive"> Sort by Date </p>
	<p>
	{% for category in site.categories %}
	{% increment category_index %}
	 <a href="#{{category_index}}">{{category.first }}
	
	{% endfor %}
	</p>
  </header>
    
  {{ content }}
  
  {% for category in site.categories %}
   <ul class="post-list">
   {% for post in category.last %}
    <li>
	 <span class="post-meta">
	 {% if post.categories != empty %}
	 {{ post.categories }} •  
	 {% endif %}
	 {{ post.date | date: "%b %-d, %Y" }}
	 </span>
     <h2><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h2>
    </li>
   {% endfor %}
   </ul>
  {% endfor %}

</div>
