---
layout: default
---
<div class="archive">

  <header class="archive-header">
    <h1 class="page-title">{{ page.title | escape }}
	<a href="/archive"> <img style="border:none;" src="{{ site.url }}/assets/pics/sort_by_date.png" alt="Sort by Date"/> </a>
	</h1>

	<div class = "post-meta">
	 Categories:
	 {% for category in site.categories %}
	  &nbsp <a href="#{{category.first}}">{{category.first }}({{ category | last | size }})</a>
	 {% endfor %}
	</div>
	
  </header>
    
  {{ content }}
  
  {% for category in site.categories %}
   <div class = "post-meta" align="right" id={{category.first}}>
    {{category.first}}
    <hr style="height:1px;border:none;border-top:1px dashed #0066CC;" />
   </div>
   <ul class="post-list">
   {% for post in category.last %}
    <li>
	 <span class="post-meta">
	 {% if post.categories != empty %}
	 {{ post.categories }} •  
	 {% endif %}
	 {{ post.date | date: "%b %-d, %Y" }}
	 </span>
    <h2> <a class="post-link" href="{{ post.url | relative_url }}"> {{ post.title | escape }} {% if post.subtitle %} <br> {{ post.subtitle }} {% endif %} </a> </h2>
    </li>
   {% endfor %}
   </ul>
  {% endfor %}

</div>
