---
layout: default
---
<div class="archive">

  <header class="archive-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
	<span class = "post-meta">
	Dates:
	<script type="text/javascript">	var count = 0; </script>
	{% for post in site.posts %}
	{% capture y  %}{{post.date | date:"%Y"}}{% endcapture %}
	 {% if year != y %}
	  {% if year %}
	   &nbsp <a href="#{{year}}">{{ year }} <script type="text/javascript"> document.write("("+count+")"); </script></a>
	  {% endif %}
	  {% assign year = y %}
	  <script type="text/javascript"> count = 1; </script>
	 {% else %}
	  <script type="text/javascript"> count++; </script>
	 {% endif %}
	{% endfor %}
    {% if year %}
	 &nbsp <a href="#{{year}}">{{ year }} <script type="text/javascript"> document.write("("+count+")"); </script></a>
	{% endif %}
	</span>
	<p align="right"><a href="/archive_category"> Sort by Category </a></p>
  </header>
   
  {{ content }}
  
  <ul class="post-list">
   {% for post in site.posts %}
    {% capture y  %}{{post.date | date:"%Y"}}{% endcapture %}
	 {% if year != y %}
	  {% assign year = y %}
      <li id={{ y }}>
     {% else %}
	  <li>
	 {% endif %}
	 <span class="post-meta">
	 {{ post.date | date: "%b %-d, %Y" }}
	 {% if post.categories != empty %}
	  •  {{ post.categories }}
	 {% endif %}
	 </span>
     <h2><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h2>
    </li>
   {% endfor %}
  </ul>

</div>
