---
layout: default
---
<div class="archive">

  <header class="archive-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
	<p align="right"><a href="/archive_category"> Sort by Category </a></p>
  </header>
   
  {{ content }}
  
  <ul class="post-list">
   {% for post in site.posts %}
    <li>
	 <span class="post-meta">
	 {{ post.date | date: "%b %-d, %Y" }}
	 {% if post.categories != empty %}
	  •  {{ post.categories }}
	 {% endif %}
	 </span>
     <h2><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h2>
    </li>
   {% endfor %}
  </ul>

</div>
