---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title"> {{ page.title | escape }} {% if page.subtitle %} <br> {{ page.subtitle }} {% endif %} </h1>
 
    <p class="post-meta">
	{% if page.categories %}
	{{ page.categories }} •  
	{% endif %}
	<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
	{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}
	<span> • Words:{{page.content | number_of_words}}</span>
	</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <p align="right">	<a href="{{site.url}}/about/"> <b>Support me</b></a></p>

  <p align="center"><b>
   {% if page.previous and page.next %}
    <a href="{{ site.url }}{{ page.previous.url }}"> ←Previous </a> &nbsp | &nbsp
	<a href="{{ site.url }}{{ page.next.url }}"> Next→ </a> 
   {% elsif page.previous and page.next == nil %}
    <a href="{{ site.url }}{{ page.previous.url }}"> ←Previous </a> &nbsp | &nbsp
	<font color="gray">Next→</font>
   {% elsif page.previous == nil and page.next %}
    <font color="gray">←Previous</font> &nbsp | &nbsp
	<a href="{{ site.url }}{{ page.next.url }}"> Next→ </a> 
   {% else %}
    <font color="gray">←Previous</font> &nbsp | &nbsp
    <font color="gray">Next→</font>
   {% endif %}
  </b></p>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}

</article>
